@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>A separate “Get to Know Joel” page</h1>

    <ul>
        <li>A link to Quick Wits Comedy (where he performs regularly): <a href="https://www.qwcomedy.com/">Quick Wits Comedy</a></li>
        <li>A link to the Baconsale site: <a href="https://baconsale.com/">Baconsale</a></li>
    <li>This photo that also links to the Baconsale site when clicked: 
        <a href="https://baconsale.com/">
            <img src="~/img/baconsalekate.jpg" alt="Baconsale">
        </a>
    </li>
    </ul>
