@{
    ViewData["Title"] = "The Joel Hilton Film Collection";
}

<div class="text-center">
    <h3>A home page containing the amazing title: </h3>
    <h1 class="display-4">The Joel Hilton Film Collection</h1>
    <p>Add a movie to the list <a asp-controller="Home" asp-action="MovieSubmit">here</a>.</p>
    <img src="~/img/jhilton.jpg" />
    <p>The only image Prof. Hilton could find of his brother on the Internet *wink* *wink*</p>
</div>
